/** html **/


*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  background-image: radial-gradient(circle at 1px 1px, lightgrey 1px, transparent 0);
  background-size: 16px 16px;
  color: #2b2b2b;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/** body **/

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}


/** colors **/

.yellow {
  color: #F3AF51;
}


/** text **/

h1 {
  font-size: 1.5rem;
}

a.button {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 0;
  background-color: #2b2b2b;
  font-size: 1.25rem;
  color: #f5f5f5;
}

a.button:hover {
  background-color: #f5f5f5;
  color: #2b2b2b;
  border: 2px solid #F3AF51;
}


/** video **/

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
  margin-bottom: 2rem;
}


/* navigation style */

header {
  text-align: center;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  background: transparent;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}


.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background:#2b2b2b;;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 2em;
}

nav a {
  color:#2b2b2b;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0;
}

nav a:hover {
  color:#2b2b2b;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
}
.logo {
  left: 2rem;
  top: 1rem;
  position: absolute;
  z-index: 4;
}


.logo-header {
  height:32px;
}

.logo-footer {
  margin-top: 1rem;
  height: 24px;
}

.dropdown {
  margin-top: 1rem;
}


.link-wrapper {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.link-wrapper>a:hover {
  background-color: #f5f5f5;
  color: #2b2b2b;
  border: 2px solid #F3AF51;
}

.icon-sub-menu {
  position: absolute;
  margin-top: -0.5rem;
  padding-bottom: 1rem;
}

.small-image {
  width: 66%;
  text-align: center;
  padding: 1rem;
}

.leftPad {
  padding-left: 1rem;
}

.sm-title {
  font-size: 3rem;
}

.sm-text {
  font-size: 2rem;
  font-weight: 500;
}

.contact-hero {
  background-image: url(../img/heritage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/** paddings **/

.pad {
  padding-left: 4rem;
  padding-right: 4rem;
}


/** element-box **/

.element {
/*   -webkit-transform: translate(50px, -100px);
  -moz-transform: translate(50px, -100px);
  -ms-transform: translate(50px, -100px);
  -o-transform: translate(50px, -100px); */
  transform: translate(50px, -100px);
  position: relative;
  height: 200px;
  background-color: bisque;
}

.col-1-left {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
}

.element2 {
  grid-column-start: 2;
  grid-column-end: 4;
  border-left: 8px solid;
}

.element3 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.element4 {
  grid-column-start: 2;
  grid-column-end: 3;
  border-left: 8px solid #F3AF51;
}

.content-lg-right-sm-left {
  text-align: left;
}

.polygon {
  padding: 0rem 1rem 0rem 1rem;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 100px;
}

.box-hero {
  padding: 0.5rem 1rem 1rem 1rem;
  border-right: 8px solid #F3AF51;
  z-index: 1;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  flex: 1 1 auto;
  min-height: 100px;
  background-color: #f5f5f5;
  color: #2b2b2b;
  grid-column-start: 2;
  grid-column-end: 3;
}

.box-donate {
  padding: 0.5rem 1rem 1rem 1rem;
  border: 8px solid #F3AF51;
  z-index: 1;
  margin-bottom: 1rem;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 100px;
  background-color: #f5f5f5;
  color: #2b2b2b;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  color: #2b2b2b;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 320px;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  border-radius: 1rem;
  background-color: #2b2b2b;
  color: #f5f5f5;
}

.card-image {
  width: 100%;
  border-radius: 0.5rem;
}

.event-year {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 1rem;
  margin-top: 2rem;
}

.borderBold {
  border-left: 8px solid #F3AF51;
  padding: 1rem;
}

.news-article {
  border-left: 8px solid #F3AF51;
  padding-right: 1rem;
}

.network-article {
  border-left: 8px solid #F3AF51;
  padding-left: 1rem;
  margin-bottom: 2rem;
}


/** general styling **/

.sticky {
  position: sticky;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  min-height: 3rem;
  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 1rem;
  z-index: 2;
  border-top: 2px solid #2b2b2b;
}

.stickyText {
  position: sticky;
  top: 5rem;
  float: right;
  padding-right: 1rem;
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


/** sections **/

section {
  width: 100%;
}

section.hero {
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.parallax {
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
}

.hero {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.grid-3col {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.grid2 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.grid-img-text {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.grid-2elements {
  padding: 4rem 2rem 4rem 2rem;
  min-height: unset;
  background-color: #2b2b2b;
  color: #f5f5f5;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.element-square {
  position: relative;
  margin: 2rem;
  border-left: 8px solid #F3AF51;
}

.element-square-text {
  color: #2b2b2b;
  background-color: #f5f5f5;
  padding: 1rem 1rem 2rem 1rem;
  width: 66%;
  position: absolute;
  top: 50%;
  right: 0;
}

.element-square-text>h2 {
  font-size: 1.25rem;
}

.element-square-text>p {
  font-size: 1rem;
}

.element-square-image {
  width: 66%;
  margin-bottom: -5px;
}

.gridCards {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.gridVideo {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.genova {
  background-image: url("../img/genova.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.oneColumn {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-top: 0;
  font-size: 4rem;
  padding-left: 4rem;
  color: #2b2b2b;
  font-weight: 600;
  border-right: 8px solid black;
}

.twoColumn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

.imgGrid {
  width: 100%;
  padding: 0rem;
  border-radius: 0.25rem;
}

.titleGrid {
  margin-top: 0;
}

.img-publication {
  width: 100%;
}

.video-container-title {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.small-hero {
  min-height: unset;
  padding: 4rem
}

.grid-mono {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr;
}

.grid-mono-article {
  border-left: 4px solid #F3AF51;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.grid-mono-title {}

.grid-mono-text {}

.bold {
  font-weight: 500;
  font-size: 1.25rem;
}

.faq {
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* Grid styles */
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}

.no-border {
  border: none;
}

.full-border {
  border: 8px solid #F3AF51;
}

.light {
  background-color: unset;
  border: none;
}

.center {
  margin: 0 auto;
}

.img-network {
  width: 100%;
  border: 8px solid #F3AF51;
}

.image-mission {
  width:100%; 
  padding:1rem;
}

.image-faq {
  height: 10rem;
}

.image-ourwork {
  width:100%; 
}

/** footer **/

footer {
  background-color: #F3AF51;
  width: 100%;
}

.menu-footer {
  color: #2b2b2b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.copyright {
  text-align: center;
  color: #2b2b2b;
  font-size: 1rem;
  padding: 2rem;
}

.menu-footer-item>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-footer-item>ul>li {
  padding: 1rem 0 1rem 0;
}

.menu-footer-item>ul>li>a {
  display: block;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
  float: left;
}

.menu-footer-item>ul>li>a:hover {}

.menu-footer-item > h3 {
  margin-bottom: 0;
}
/* Style the list */

ul.breadcrumb {
  list-style: none;
  padding: 0;
  text-decoration: none;
  color: black;
}


/* Display list items side by side */

ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}

.social-icon {
  height: 1rem;
}

.element-half-left {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #f5f5f5;
  border: 8px solid #F3AF51;
  padding: 1rem;
  margin-bottom: 1rem;
}

.element-half-right {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: #f5f5f5;
  border: 8px solid #F3AF51;
  padding: 1rem;
  margin-bottom: 1rem;
}

/** media queries **/

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 767px) {
  .pad {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sm-title {
    font-size: 2rem;
  }
  .sm-text {
    font-size: 1.5rem;
  }
  .element {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .col-1-left {
    grid-column-start: 1;
    grid-column-end: 1;
    font-size: 2.5rem;
    margin-top: 1rem;
    border-left: 8px solid #F3AF51;
    padding-left: 1rem;
  }
  .element2 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .element3 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .element4 {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .element-half-left {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .element-half-right {
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .oneColumn {
    grid-column: 1 / 8;
  }
  .twoColumn {
    padding-bottom: 2rem;
  }
  .gridVideo {
    padding-top: 0;
    min-height: unset;
  }
  .card {
    flex: 0 0 240px;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    border-radius: 1rem;
    padding-bottom: 0;
  }
  .card-title {
    font-size: 1rem;
  }
  .text50 {
    width: 100%;
  }
  .video-container-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .stickyText {
    position: sticky;
    top: 4rem;
    text-align: left;
    float: left;
    padding-right: 0rem;
    font-size: 2rem;
  }
  .element-square {
    margin: 0rem;
    padding: 0rem;
  }
  .contact-hero {
    background-attachment: initial;
  }
  .none {
    display: none;
  }
  .grid-3col {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .col-1-left h2 {
    margin: 0 0 0.5rem 0;
  }
  .col-1-left p {
    margin: 0 0 0.5rem 0;
  }
  .stickyText {
    margin-bottom: 0;
  }
  .hero {
    align-items: start;
    grid-template-columns: 1fr;
  }
  .box-hero {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .menu-footer {
    padding-top: 0rem;
  }
  .flex {
    padding-top: 1rem;
    padding-bottom: 0;
    justify-content: space-between;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .flex {
    justify-content: space-between;
  }
  .sticky {
    min-height: 4rem;
  }
  nav {
    height: unset;
    min-height: 4rem;
  }
  .grid2 {
    grid-template-columns: 1fr;
  }
  .grid-img-text {
    grid-template-columns: 1fr;
  }
  .small-hero {
    padding: 2rem;
  }
  .grid-mono {
    padding: 2rem;
  }
  a.button {
    font-size: 1rem;
  }
  .sm-title {
    font-size: 2rem;
  }
  .sm-text {
    font-size: 1.5rem;
  }
  .content-lg-right-sm-left {
    text-align: right;
  }
  .nav-toggle-label {
    display: none;
  }
  header {
    /* Grid styles */
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .logo {
    grid-column: 2 / 3;
    left: 2rem;
    top: 1rem;
    position: absolute;
    z-index: 4;
  }
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3rem;
    margin-bottom: 0;
    padding-left: 1rem;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::after {
    content: '';
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::after {
    transform: scale(1, 1);
  }
  .dropdown {
    margin: 0.5rem 0 0 -1rem;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    list-style: none;
    flex-direction: column;
    display: none;
    background-color: #f5f5f5;
  }
  .dropdown li {
    margin-left: 0;
    padding: 1rem 0 0 0;
  }
  .navbar-item:hover>ul {
    display: block;
    display: flex
  }
  .navbar-item > a {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
  .img-publication {
    width: 66%;
  }
  .none-big {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 991px) {
  .element-square-image {
    width: 100%;
  }
  .element-square-text {
    width: 100%;
    transform: none;
    position: static;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}

/* Ultra small devices */
@media only screen and (max-width: 399px) {
  .pad {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}






















.form-join {
  background: #F3AF51;
}
.profile {
  width: 240px;
  float: left;
  text-align: center;
  padding: 10px;
}

form {
  background: whitesmoke;
  float: left;
  width: calc(100% - 240px);
  padding: 10px;
  border: 8px solid var(--yellow);

}

.form-join:after, form div:after {
  content: "";
  display: table;
  clear: both;
}

form div {
  margin-bottom: 10px;
  position: relative;
}

.male:before {
  content: "\f222";
  font-family: FontAwesome;
  font-weight: bold;
}
.female:before {
  content: "\f221";
  font-family: FontAwesome;
  font-weight: bold;
}

label, span {
  display: block;
  margin-bottom: 8px;
}
input[type="text"], input[type="email"] {
  border-width: 0;
  outline: none;
  margin: 0;
  width: 100%;
  padding: 10px 10px;
  background: #e6e6e6;
}
input[type="text"]:focus, input[type="email"]:focus {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  width: 50%;
  float: left;
  line-height: 40px;
}
.radio input {
  position: absolute;
  opacity: 0;
}
.radio-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #e6e6e6;
  border-radius: 50%;
  text-align: center;
}



.radio label:hover input ~ .radio-control,
.radiol input:focus ~ .radio-control {
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
}
.radio input:checked ~ .radio-control {
  color: darkorange;
}


@media (max-width: 600px) {
  .form-wrap {margin: 20px auto; max-width: 550px; width:100%;}
  .profile, form {float: none; width: 100%;}
  h1 {margin-top: auto; padding-bottom: 50px;}
}

